{% extends "base.html" %}

{% block mainContent %}
<h1>Sign In</h1>
<!-- novalidate is optional, just to leave validation to server only here-->
<form action="" method="post" novalidate>
    <!-- This plus the secret key set in the config is needed by flask_wtf for securty against CSRF attacks -->
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        <!-- this form.username() takes parameters for styling and attribute purposes -->
        {{ form.username(size=32) }}
        <!-- if validation fails, errors will be displayed here -->
        {% for error in form.username.errors %}
        <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}